
.logotipo{

	padding: 10px;
	margin-right: 20px;
}

.menu{
    margin: 18px 13px;
    text-align: center;
    color: #fff;
}

.rel-dash{
    background: #feca1e;
    padding: 2px;
    width: 100%;
    margin: 13px 8px;
    border-radius: 17px;
    box-shadow: 6px 6px 19px #404041;
    font-size: 5.2em;
    text-align: center;
}
.rel-dash i{
    font-size: 5em;
    background: #feca1e;
    color: #404041;
    padding: 19px 45px;
    margin: 25px 15px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    text-align: center;
}

.logotipo img{height: 43px;margin: 13px 22px;}

.perfil{padding: 6px;width: 276px;font-size: 14px;}

.perfil li:first-child{font-size: 1.3em;margin-bottom: 5px;}


.cabecalho h1{

	margin: 0;
	font-size: 3em;


}

.busca{

	margin: 12px;
}

.dados-os{

	margin-top: 30px;
}

.paginacao .pagination{

	margin: 0;


}


@media(max-width: 767px){

	.perfil{
		color: #ccc;
	}

	.perfil a{

		color: #9d9d9d;
		display: block;
		padding: 5px 0;


	}

	.perfil a:hover{

		text-decoration: none;
		color: #fff;

	}
	.titulo{

		font-size: 10px;

	}

	.paginacao{

		text-align: center;


	}
	.paginacao .pagination{

		margin-top: 20px;
	}

	.botao{

		text-align: center;
	}


}